:root {
  --main-backgraund: #dfe5ed;
  --main-backgraund2: #f0f0f3;
  --border: #dfe5ed;
  --green-main: #96d552;
  --background-input: #f1f5f8;
  --background-input-focus: #77b0fc;
  --border-inpyt-focus: #dfeeff;
  --button: #1a72e4;
  --button2: #569fff;
  --button-border: #68aeff;
}
html,
body {
  margin: 0; /* Прибрати відступи за замовчуванням */
  padding: 0; /* Прибрати внутрішні відступи */
  width: 100vw; /* Ширина рівна ширині вікна перегляду */
  height: 100vh; /* Висота рівна висоті вікна перегляду */
  overflow: hidden; /* Приховати вміст, що виходить за межі */
}
body {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  background-color: #e7ecf2;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 37px;
  background-color: #6d6d6d;
}
header a {
  cursor: pointer;
  height: 100%;
  text-decoration: none;
  padding: 0;
  color: white;
  display: flex;
  margin-left: 63px;
  align-items: center;
  font-size: 14px;
}
button {
  cursor: pointer;
}

.main-form {
  max-width: 300px;
  margin: 15px auto;
}
fieldset {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 15px;
  border-radius: 15px;
  box-shadow: 9px 10px 8px -10px rgba(0, 0, 0, 0.1);
  border: 1px solid #dfe5ed;
  background-color: #fff;
  color: #2c5777;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  width: 100%;
  min-height: 90px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.gender-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radio-container {
  position: relative;
}
.gender-label {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.gender-selection-span {
  width: 25px;
  height: 25px;
  border: 1px solid #7aa7c7;
  box-shadow: 0px 0px 28px -12px #52b6ff;
  background-color: #f0f7fc;
  box-shadow: rgba(12, 47, 89, 0.1) 1px 1px 3px 0 inset;
  outline: none;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
}
.gender-radio:checked + .gender-selection-span {
  border: 1px solid var(--button-border);
  fill: var(--button-border);
}
.divider {
  width: 90%;
  border-bottom: 1px solid var(--border);
}

/* -------------------- вибір кольору ----------------------- */
.male-pic {
  display: flex;
  width: 90%;
  gap: 10px;
  justify-content: center;
}
.male-selection-span {
  width: 50px;
  height: 25px;
  border: 1px solid #7aa7c7;
  box-shadow: 0px 0px 28px -12px #52b6ff;
  /*  */
  outline: none;
  border-radius: 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.brunette {
  background-color: #563417;
}
.blond {
  background-color: #daa75e;
}
.gender-radio:checked + .male-selection-span {
  border: 3px solid white;
  box-shadow: rgba(12, 47, 89, 0.8) 1px 1px 8px 0;
}
.divider-color {
  margin-top: 10px;
}
.input {
  width: 75%;
  border-radius: 5px;
  border: 1px solid #dfe5ed;
  background-color: #f1f5f8;
  color: #4d7b9e;
  padding: 5px;
  outline: transparent;
  font-size: 18px;
}
.input:focus {
  background-color: #dfeeff;
  border: 1px solid #77b0fc;
}

.submit-btn {
  display: block;
  margin: 15px auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 9px 10px 8px -10px rgba(0, 0, 0, 0.1);
  border: 1px solid #77b0fc;
  background-color: var(--button);
  color: #fff;
  font-size: 18px;
}
.image-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.image-label {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  border: 1px dashed #7aa7c7;
  background-color: #f0f7fc;
  font-weight: 200;
  cursor: pointer;
}
.image-label span {
  font-size: 14px;
}
.photo-preview {
  width: 35px;
  height: 35px;
  border: 1px solid #2c5777;
  border-radius: 5px;
}
.upload-image-button {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #77b0fc;
  background-color: var(--button2);
  color: #fff;
}
.preview {
  display: none;
}

@media screen and (min-width: 1000px) {
  .main-form {
    max-width: 219px;
    margin: 15px auto;
  }
  .all-div {
    width: 100%;
    height: 100vh;
    display: flex;
  }
  .choise-div {
    max-width: 219px;
    height: 100%;
    border-right: 2px solid #cfd2d6;
    padding: 0 47px 0 57px;
  }
  .gender-label {
    width: 65%;
    display: flex;
    align-items: center;
  }
  .input {
    width: 90%;
    padding: 5px;
    font-size: 16px;
  }
  .select-position {
    width: 95%;
  }
  .gender-selection-span {
    width: 20px;
    height: 20px;
  }
  .choise-icon {
    height: 15px;
  }
  .preview {
    display: block;
    left: 0;
  }

  .bage-img {
    position: relative;
    width: 620px;
    padding-top: 111px;
    padding-left: 36px;
  }
  .preview .img {
    width: 100%;
  }
  .logo {
    position: absolute;
    height: 14px;
    width: 60px;
    top: 169px;
    left: 323px;
  }
  .allo {
    position: absolute;
    color: rgb(218, 217, 217);
    left: 330px;
    top: 421px;
    margin: 0;
    font-size: 10px;
  }
  .maket {
    position: absolute;
    width: 179px;
    height: 255px;
    background-color: black;
    top: 164px;
    left: 318px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    color: #fff;
  }
  .maket img {
    width: 145px;
    height: 145px;
    padding-top: 22px;
  }
  .maket-name {
    font-size: 18px;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 6px;
  }
  .maket-position {
    font-size: 12px;
    margin: 0;
  }
  .maket2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    position: relative;
  }
  .gradient {
    width: 157px;
    height: 23px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0) 100%);
    position: absolute;
    top: 144px;
  }
}
@media screen and (min-width: 1366px) {
  .choise-div {
    max-width: 400px;
    padding: 0 43px 0 57px;
  }
  .main-form {
    max-width: 300px;
    margin: 15px auto;
  }

  .gender-label {
    width: 50%;
  }

  .select-position {
    width: 100%;
  }
  .input {
    width: 75%;
    border-radius: 5px;
    border: 1px solid #dfe5ed;
    background-color: #f1f5f8;
    color: #4d7b9e;
    padding: 5px;
    outline: transparent;
    font-size: 18px;
  }
  .bage-img {
    position: relative;
    width: 796px;
    padding-top: 85px;
    padding-left: 57px;
  }
  .allo {
    left: 431px;
    top: 484px;
    font-size: 12px;
  }
  .logo {
    position: absolute;
    height: 18px;
    width: 78px;
    top: 158px;
    left: 424px;
  }
  .maket {
    position: absolute;
    width: 229px;
    height: 327px;
    top: 153px;
    left: 419px;
  }
  .maket img {
    width: 185px;
    height: 185px;
    padding-top: 28px;
  }
  .maket-name {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 8px;
  }
  .maket-position {
    font-size: 14px;
  }

  .gradient {
    width: 202px;
    height: 29px;
    top: 184px;
  }
}
