:root {
  --main-backgraund: #dfe5ed;
  --main-backgraund2: #f0f0f3;
  --border: #70707025;
  --green-main: #96d552;
  --background-input: #f1f5f8;
  --background-input-focus: #77b0fc;
  --border-inpyt-focus: #dfeeff;
  --button: #1a72e4;
  --button2: #569fff;
  --button-border: #68aeff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 100%;
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  /* background-color: rgb(245, 245, 247); */
  background-color: #ffffff;
  color: #121212;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 37px;
  /* background-color: rgba(53, 53, 53, 0.35); */
  box-shadow: 0px 1px 8px #2e484c54;
}
input,
select {
  border: none;
  outline: transparent;
}

header a {
  cursor: pointer;
  height: 100%;
  text-decoration: none;
  padding: 0;
  color: #707070;
  display: flex;
  margin-left: 20px;
  align-items: center;
  font-size: 1rem;
}

.main-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 20px;
}

.choise-zone {
}

.gender-form {
  max-width: 308px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;

  border: none;
}
.gender-fielset {
  flex-direction: row;
  gap: 15px;
}
.gender-selection-span {
  border-radius: 50%;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
}
.avatar-preview {
  width: 90px;
  height: 90px;
}
.gender-radio:checked + .gender-selection-span {
  filter: grayscale(0%);
}
.gender-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
  /* gap: 11px; */
}
.gender-lable {
}
.gender-male {
  background-color: #e7f8ff;
}
.gender-female {
  background-color: #ffe6f9;
}

.label {
  font-size: 1.5rem;
  align-items: start;
}
.name-fielset {
}
input[name="name"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
}
#position {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
}
.input:focus {
  border: 1px solid transparent;
  border-radius: 5px;
  background-image: linear-gradient(white, white),
    linear-gradient(45deg, #00ffc4, #00d0ff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  outline: none;
}
select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #74907d;
  border-radius: 5px;
}
.container {
  padding: 5px;
}
.image-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.image-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  border: 2px dashed #70707070;
  color: #dcdcdc;
  cursor: pointer;
  padding: 29px 40px;
  font-size: 1.3rem;
}
.upload-image-button {
  display: none;
}
.form-button {
  position: relative;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 20px 44px;
  background: linear-gradient(45deg, #3ad9d4, #35a8ed);
  border: 0px solid transparent;
  border-radius: 50px;
  background-clip: padding-box, border-box;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 15px;
}

.form-button:hover {
  background-image: linear-gradient(45deg, #00ff9d, #00aaff);
}

.form-button:active {
  color: #0a758d;
  border: 2px solid transparent;
  background-image: linear-gradient(45deg, #cdf8ee, #cef1f9),
    linear-gradient(45deg, #00ffc4, #00d0ff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
