:root {
  /* --main-backgraund: #01b4e2; */
  --main-backgraund: #f0f0f3;
  --border: #a8a8a8;
  --green-main: #96d552;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  /* background-color: #e7ecf2; */
  background-color: #f1f1f1;
}
button {
  cursor: pointer;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container {
  position: relative;
  padding: 0;
  width: 342px;
  height: 194px;
  border-radius: 25px;
  box-shadow: 2px 2px 8px 0px rgba(67, 64, 64, 0.3),
    inset 0px 1px 0px 0 rgba(255, 255, 255, 0.4),
    inset 0px -1px 0px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(67, 64, 64, 1);
}
.bage-page-btm {
  background: linear-gradient(120deg, #1b457a 0%, #171616 100%);
}
.qr-code-page-btm {
  background: linear-gradient(120deg, #6d1b7a 0%, #171616 100%);
}
.start-container h1 {
  margin: 0;
  color: #fff;
  font-size: 46px;
  font-weight: bold;
  padding-left: 32px;
  padding-top: 16px;
  z-index: 999;
  position: relative;
}
.start-container p {
  margin: 0;
  padding-left: 32px;
  max-width: 150px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.3px;
}
.start-button {
  position: absolute;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  border: none;
  right: 15px;
  bottom: 15px;
  background-color: #ffffff44;
}
.start-button svg {
  display: block;
  margin: 0 auto;
}
.start-button:hover {
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.start-button:focus {
}
.start-button:active {
}

.next-page {
  text-decoration: none;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  gap: 10px;
  border-radius: 20px;
  box-shadow: 9px 10px 8px -10px rgba(0, 0, 0, 0.1);
  border: 1px solid #dfe5ed;
  background-color: red;
  font-size: 28px;
  font-weight: 500;
  color: #2c5777;
}
.gender-container {
  display: flex;
  padding: 0 40px;
}
.gender-selection {
  position: relative;
  gap: 20px;
}
.gender-selection-lable {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-left: 20px;
}
.gender-selection-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.gender-selection-span {
  width: 30px;
  height: 30px;
  border: 1px solid #7aa7c7;
  box-shadow: 0px 0px 28px -12px #52b6ff;
  background-color: #f0f7fc;
  box-shadow: rgba(12, 47, 89, 0.1) 1px 1px 3px 0 inset;
  outline: none;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
}
.gender-selection-input:checked + .gender-selection-lable span {
  background-color: var(--green-main);
  border: 1px solid whitesmoke;
}
.put-name-lable {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.put-name-input {
  display: block;
  margin: 0 auto;
  width: 90%;
  padding: 10px;
  border: 1px solid #7aa7c7;
  box-shadow: 0px 0px 28px -12px #52b6ff;
  border-radius: 10px;
  background-color: #f0f7fc;
  box-shadow: rgba(12, 47, 89, 0.1) 1px 1px 3px 0 inset;
  outline: none;
  color: #183b54;

  font-size: 20px;
  font-weight: 400;
  outline: transparent;
}

.put-name-input:focus {
  border-color: grey;
}

.job-selection-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.job-select-choice {
  width: 100%;
  padding: 10px;
  border: 1px solid #7aa7c7;
  box-shadow: 0px 0px 28px -12px #52b6ff;
  border-radius: 10px;
  background-color: #f0f7fc;
  box-shadow: rgba(12, 47, 89, 0.1) 1px 1px 3px 0 inset;
  outline: none;
  color: #183b54;
  font-size: 20px;
  font-weight: 400;
  appearance: none;
  outline: transparent;
  -webkit-appearance: none; /* Safari */
  -moz-appearance: none; /* Firefox */
}
.job-selection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 9px 10px 8px -10px rgba(0, 0, 0, 0.1);
  border: 1px solid #dfe5ed;
  background-color: #fff;
}
.upload-image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 9px 10px 8px -10px rgba(0, 0, 0, 0.1);
  border: 1px solid #dfe5ed;
  background-color: #fff;
  font-size: 28px;
  font-weight: 600;
}

.upload-image-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-image-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  padding: 10px;
  border-radius: 15px;
  border: 1px dashed #7aa7c7;
  background-color: #f0f7fc;
  color: var(--border);
  font-size: 24px;
  font-weight: 200;
  cursor: pointer;
}
.upload-span {
  font-size: 18px;
}
.upload-image_btn-submit {
  display: block;
  padding: 20px;
  background-color: #e1ecf4;
  color: #39739d;
  border-radius: 10px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 400;
}
.upload-image_btn-submit:hover {
  background-color: #b3d3ea;
  color: #2c5777;
}
.upload-image_btn-submit:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}
.upload-image_btn-submit:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
.qr-code-container {
  position: relative;
}
.section-img {
  position: absolute;
  width: 100px;
  right: 15px;
  bottom: -65px;
  /* opacity: 50%; */
}
/* -------------------- формат для ПК --------------------*/
@media screen and (min-width: 1158px) {
}
