.shantell-font {
  font-family: "Shantell Sans", cursive;
  /* font-optical-sizing: auto; */
  font-weight: 300;
  /* font-style: normal; */
  /* font-variation-settings:
      "BNCE" 0,
      "INFM" 0,
      "SPAC" 0; */
}
.vodafone-main-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.vodafone-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* margin-left: 25px; */
}
.tarif-container {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  width: 320px;
  padding: 3px;
  background-color: rgb(255, 255, 255);
}
.premium-box {
  width: 120px;
  background-image: linear-gradient(90deg, #cf0072, #e5007e);
  font-family: "Shantell Sans", cursive;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
.name-premium {
  width: 100%;
  background-color: #7c134b;
  padding: 2px;
  margin-bottom: 2px;
  color: #f9c3dd;
}
.main-premium-number {
  font-size: 18px;
}
.second-premium {
  padding: 2px;
  background-color: #eeafcc;
  width: 93%;
  margin: 3px 0;
  border-radius: 7px;
}
.migration-title {
  color: #e41871;
  font-weight: 400;
}
.migration-premium-number {
  color: #a3185b;
  font-size: 18px;
}
.name-plus-premium {
  width: 100%;
  padding-left: 8px;
  display: flex;
  justify-content: space-between;
}
.premium-title {
  margin-bottom: 3px;
}
.main-premium-number {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.migration-premium-number {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.tarif-title {
  color: red;
  font-size: 1.75rem;
  font-weight: 400;
}
.tarif-name {
  color: red;
  font-size: 1.75rem;
  font-weight: 800;
}

.divider {
  border: 1px solid red;
  margin: 5px 0;
}
.tarif-list {
  display: flex;
  position: relative;
  padding-left: 8px;
}
.circle {
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -8px;
}
.circle p {
  line-height: 1;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
}
.big {
  font-size: 28px;
}
.yellow {
  color: #f6ee99;
}
.mid {
  font-size: 20px;
}
.mid-a {
  font-size: 16px;
}
.mid-b {
  font-size: 20px;
}
.tinny-text {
  font-weight: 300;
}
.small {
  font-size: 10px;
  font-weight: 200;
}
.minutes {
  font-weight: 200;
  font-size: 16px;
}
.circle:first-child {
  z-index: 5;
  margin-left: 0;
}
.circle:nth-child(2) {
  z-index: 4;
}
.circle:nth-child(3) {
  z-index: 3;
}
.circle:nth-child(4) {
  z-index: 2;
}
.circle:nth-child(5) {
  z-index: 1;
}
.infinity {
  fill: #fff;
  width: 40px;
  height: 20px;
}
.red-fild {
  width: 100%;
  height: 90px;
  background-image: linear-gradient(#fff, red, red);
  /* background-color: red; */
  border-radius: 0 0 12px 12px;

  margin-top: -28px;
  display: flex;
  align-items: end;
  padding: 10px;
  line-height: 0.9;
  justify-content: space-between;
  gap: 15px;
}
.first-mounth {
  font-size: 16px;
}
.price {
  font-size: 20px;
  line-height: 0.8;
  font-weight: 400;
}
.super {
  font-size: 36px;
  color: yellow;
  font-weight: 900;
}
.circle-none {
  display: none;
}
